:root {
  --primery-color-white: #fff;
  --primery-color-black: #2f2f2f;
  --primery-color-blue: #407bff;
  --secondary-color-2: #ecf2ff;
  --secondary-color-3: #ef5050;
  --secondary-color-4: #9ebbff;
  --secondary-color-5: #ff9d43;
  --secondary-color---5: #d7e3ff;
  --color: #fff;
  --color-2: #2f2f2f;
  --color-3: #407bff;
  --color-4: #ecf2ff;
  --color-5: #ef5050;
  --color-6: #9ebbff;
  --color-7: #ff9d43;
  --color-8: #d7e3ff;
}

html,
body {
  /**/
  /* background-color: #ffffff; */
  /* background-image: url('./assets/background.png'); */
  /* background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: #111111; */
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  padding: 0;
}
